/*Historia*/

.title-doc2 {
    font-size: 4rem;
    color: #D0BE96;
    bottom: 40%;
    left: 40%;
    position: absolute;
}

.rush-img {
    max-width: 100%;
}

.bloque {
    background-color: #070216;
    margin: 3rem 4rem;
    padding: 1.8rem 3.1rem;
    border-radius: 0.62rem;
    @include box-shadow;
}

.bloque-p {
    padding: 0 2rem;
    text-align: justify;
}

.carousel, .carousel-inner > .item > img {
    width: 40rem;
    height: auto;
    margin: 0 auto;
    @include margin(3rem, 2rem);
}

@media only screen and (max-width:480px) {
    .title-doc2 {
        font-size: 4rem;
        color: #D0BE96;
        text-align: center;
        bottom:0%;
        left:0%;
        @include margin(20rem, 18rem);
        position: static;
    }

    .rush-img {
        display: none;
    }

    .bloque {
        background-color: #070216;
        margin: 3rem 1rem;
        padding: 1.8rem 2rem;
        border-radius: 0.62rem;
        @include box-shadow;
    }
    
    .bloque-p {
        padding: 0 0rem;
        text-align: justify;
    }
    
    .carousel, .carousel-inner > .item > img {
        width: 18rem;
        height: auto;
        margin: 0 auto;
        @include margin(3rem, 2rem);
    }
}